<div>
  <div>
    <h2>Demo</h2>
    <div>
      <form>
        <div class="radio">
          <label><input type="radio" value="weight" ng-model="centrality"/> Weight</label>
        </div>
        <div class="radio">
          <label><input type="radio" value="degree" ng-model="centrality"/> Degree centrality</label>
        </div>
        <div class="radio">
          <label><input type="radio" value="closeness" ng-model="centrality"/> Closeness centrality</label>
        </div>
        <div class="radio">
          <label><input type="radio" value="betweenness" ng-model="centrality"/> Betweenness centrality</label>
        </div>
      </form>
    </div>
    <div class="thumbnail" style="width: 600px;">
      <svg class="display"/>
    </div>
    <svg class="scatter-plot">
      <defs>
        <style>
        svg {
          font: 10px sans-serif;
        }
        .axis, .frame {
          shape-rendering: crispEdges;
        }
        .axis line {
          stroke: #ddd;
        }
        .axis path {
          display: none;
        }
        .frame {
          fill: none;
          stroke: #aaa;
        }
        circle {
          fill-opacity: .7;
        }
        circle.inactive {
          fill: #ccc !important;
        }
        .extent {
          fill: #000;
          fill-opacity: .125;
          stroke: #fff;
        }
        </style>
      </defs>
    </svg>
  </div>
</div>
