<div>
  <div>
    <h2>Demo</h2>
    <div class="thumbnail display-container">
      <svg class="display"/>
    </div>
    <form>
      <table class="table table-bordered">
        <tr>
          <th>Visibility</th>
          <th>Text</th>
          <th>Scale</th>
          <th>Opacity</th>
          <th>Color</th>
        </tr>
        <tr ng-repeat="vertex in vertices">
          <td><label><input type="checkbox" ng-model="vertex.visible" ng-change="update()"/> Visible</label></td>
          <td><input class="form-control" type="text" ng-model="vertex.text" ng-change="update()"/></td>
          <td><input class="form-control" type="number" min="0" step="1" ng-model="vertex.size" ng-change="update()"/></td>
          <td><input class="form-control" type="number" min="0" max="1" step="0.1" ng-model="vertex.opacity" ng-change="update()"/></td>
          <td><input class="form-control" type="color" ng-model="vertex.color" ng-change="update()"/></td>
        </tr>
      </table>
    </form>
  </div>
</div>
