<div>
  <div>
    <h2>Demo</h2>
    <div>
      <form>
        <label class="radio-inline">
          <input type="radio" ng-model="paint" value="layer"> Layer
        </label>
        <label class="radio-inline">
          <input type="radio" ng-model="paint" value="community"> Community
        </label>
      </form>
    </div>
    <div class="thumbnail" style="width: 810px;">
      <svg class="display1"/>
    </div>
    <div class="thumbnail" style="width: 810px;">
      <svg class="display2"/>
    </div>
  </div>
</div>
